# ==============================================================================
# Emacs Gitignore Template
# ==============================================================================

# Crash recovery and backup files
*~
\#*#
.\#*
